



/

/*
///////////////////////////////////////////////////
4.0 PROJECTS
///////////////////////////////////////////////////
*/
/* PROJECTS STYLE #1 */
.fh5co-project-style-1,
.fh5co-project-style-2,
.fh5co-project-style-3,
.fh5co-project-style-4 {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  .fh5co-project-style-1,
  .fh5co-project-style-2,
  .fh5co-project-style-3,
  .fh5co-project-style-4 {
    padding: 3em 0;
  }
}

.fh5co-project-style-2 {
  padding-bottom: 0;
  padding-top: 0;
}
.fh5co-project-style-2 .fh5co-projects ul {
  padding: 0;
  margin: 0;
}
.fh5co-project-style-2 .fh5co-projects ul li {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.fh5co-project-style-2 .fh5co-projects ul li a {
  width: 100%;
  position: relative;
  display: block;
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-overlay {
  background: #d3d3d3;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .8;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text {
  display: table;
  width: 100%;
  position: relative;
  z-index: 2;
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner {
    height: inherit;
    padding: 4em 0;
  }
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner h3 {
  margin-bottom: 0;
  color: #333333;
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  /*color: rgba(255, 255, 255, 0.5)*/
}
.fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-project-style-2 .fh5co-projects ul li a .fh5co-text .fh5co-text-inner p {
    font-size: 16px;
    line-height: 24px;
  }
}
.fh5co-project-style-2 .fh5co-projects ul li a > .container {
  position: relative;
}
.fh5co-project-style-2 .fh5co-projects ul li a:hover .fh5co-overlay {
  opacity: .4;
}
